<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>UNCC Classroom Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/index.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <!--********************************************** -->
    <!--* TODO(DEVELOPER): Use your Client ID below. * -->
    <!--********************************************** -->
    <meta name="google-signin-client_id" content="266462832320-eqk31vtfngg83o18vvu6d3hplblk945q.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <script>
      function ChatController($scope) {
        
        var socket = io.connect();

        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        socket.on('connect', function () {
          $scope.setName();
        });

        socket.on('message', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
        });

        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });

        $scope.send = function send() {
          //console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
      }
    </script>
  </head>
  
  
  <body>

    <!--<div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="pull-right">
          <a href="" class="brand">GroupChat</a>
        </div>
      </div>
    </div>-->
    <!-- overflow css for chat window-->
      <div class="container container-margin show_container" ng-controller="ChatController">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <!--Title-->
            <h1 class="nav nav-title" id="chatH1">Tiv.ly</h1>
          </div>
          <div class="col-md-3">
              <div id="navClass">
                <ul class="nav nav-pills nav-right" role="tablist">
                  <li class="active">
                  <li><a href="#">About</a></li>
                  <li><a href="./login.html" onclick="signOut();">Sign out</a></li>
                </ul>
              </div>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked nav-sidebar" role="tablist">
                    <h1>Group</h1>
                    <li><a href="grp1">Group 1</a></li>
                    <li><a href="grp2">Group 2</a></li>
                    <li><a href="grp3">Group 3</a></li>
                    <li><a href="grp4">Group 4</a></li>
                    <li><a href="grp5">Group 5</a></li>
                    <li><a href="grp6">Group 6</a></li>
                    <li><a href="grp7">Group 7</a></li>
                    <li><a href="grp8">Group 8</a></li>
                    <li><a href="grp9">Group 9</a></li>
                    <li><a href="grp10">Group 10</a></li>
                    <li><a href="grp11">Group 11</a></li>
                    <li><a href="grp12">Group 12</a></li>
                    <li><a href="grp13">Group 13</a></li>
                    <li><a href="grp14">Group 14</a></li>
                    <li><a href="grp15">Group 15</a></li>
                </ul>
            </div>
            <div class="col-md-8">
              <!--<table class="table table-striped table-bordered">-->
              <!--  <tbody>-->
              <!--    <tr ng-repeat="msg in messages">-->
              <!--      <td class="span2" ng-bind="msg.name"></td>-->
              <!--      <td class="span7"  ng-bind="msg.text"></td>-->
              <!--    </tr>-->
              <!--  </tbody>-->
              <!--</table>-->
              <div class="well well-lg" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="" alt="User Avatar" class="message-avatar" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                  <span class="glyphicon glyphicon-time"></span></small>
                                    <strong class="primary-font" ng-bind="msg.name"></strong> <small class="pull-right text-muted">
                                        
                                </div>
                                <p id="msgtext" data-ng-model="messageText">{{message.message}}</p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>
                                    <strong class="pull-right primary-font"></strong>
                                </div>
                                <p id='response' ng-bind="msg.text"></p>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                      <form ng-submit="send()">
                        <input id="btn-input" type="text"   class="form-control input-sm" ng-model="text" placeholder="Message" />
                        <span class="input-group-btn input-style">
                            <input class="btn btn-warning btn-sm" id="btn-chat" onclick="getValues()" ng-disabled="!text" value="Send" type=submit>
                            
                        </span>
                      </form>
                    </div>
                </div>
            </div>
            <!--<div class="row controls">-->
            <!--  <form ng-submit="send()">-->
            <!--    <div class="span2"><input type="text"  id="name" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>-->
            <!--    <div class="input-append span7">-->
            <!--      <input type="text" id="message" class="span6" ng-model="text" placeholder="Message">-->
            <!--      <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">-->
            <!--    </div>-->
            <!--  </form>-->
            <!--</div>-->
          </div>
          <div class="col-md-2">
              <ul class="nav nav-list well">
                <li class="nav-header">Local Users</li>
                <li ng-repeat="user in roster" ng-bind="user">{{name}}
                </li>
            </ul>
          </div>  
        </div>
      </div>
  </body>
</html>
